# 1.type()

type() is used to check the data type of variable

In [2]:
x = 'this is a string'
a=type(x)

str

In [11]:
x = 123
y = 123.90
z='hello'
print(' x is ',type(x),'\n', 'y is ',type(y),'\n', 'z is ',type(z))

 x is  <class 'int'>
 y is  <class 'float'>
 z is  <class 'str'>

In [15]:
x = 123
a = type(x)
y = 123.90
b = type(y)
z='hello'
c = type(z)
print(' x is ',a,'\n', 'y is ',b,'\n', 'z is ',c)

<class 'int'>
 x is  <class 'int'>
 y is  <class 'float'>
 z is  <class 'str'>

## 2.Strings different formats

In [16]:
name ="Ahmed"
father_name ="Liaqat"
uni ="Bahria"

message='''PIAIC ISLAMABAD BATCH3
Name : {}
Father_Name : {}
Univerdity : {}
'''
message1 = message.format(name, father_name, uni)

print(message1)

PIAIC ISLAMABAD BATCH3
Name : Ahmed
Father_Name : Liaqat
Univerdity : Bahria

In [17]:
name = input('Enter Your Name : ')
father_name = input('Enter Your Father Name : ')
uni = input('Enter Your University Name : ')

message='''PIAIC ISLAMABAD BATCH3
Name : {}
Father_Name : {}
Univerdity : {}
'''
message1 = message.format(name, father_name, uni)

print(message1)

Enter Your Name : Ahmed
Enter Your Father Name : Liaqat
Enter Your University Name : Bahria
PIAIC ISLAMABAD BATCH3
Name : Ahmed
Father_Name : Liaqat
Univerdity : Bahria

In [18]:
name = input('Enter Your Name : ')
father_name = input('Enter Your Father Name : ')
uni = input('Enter Your University Name : ')
maths_marks = int(input('Enter Your maths marks : '))
eng_marks = int(input('Enter Your english marks : '))
comp_marks = int(input('Enter Your computer marks : '))
total_marks = maths_marks + eng_marks + comp_marks
per = round(((total_marks / 300) * 100),2)

message='''PIAIC ISLAMABAD BATCH3
Name : {0}
Father_Name : {1}
University : {2}
Maths_Marks :{3}
English_Marks :{4}
Computer_Marks :{5}
Total_marks :{6} 
Percentage: {7}%
'''
message1 = message.format(name,father_name,uni,maths_marks,eng_marks,comp_marks,total_marks,per)

print('\n',message1)

Enter Your Name : Ahmed
Enter Your Father Name : Liaqat
Enter Your University Name : Bahria
Enter Your maths marks : 90
Enter Your english marks : 90
Enter Your computer marks : 91

 PIAIC ISLAMABAD BATCH3
Name : Ahmed
Father_Name : Liaqat
University : Bahria
Maths_Marks :90
English_Marks :90
Computer_Marks :91
Total_marks :271
Percentage: 90.33%

In [19]:
num1 = int(input('enter number 1: '))
num2 = int(input('enter number 2: '))

result = num1 + num2

print('{0} + {1} = {2}'.format(num1,num2,result))

enter number 1: 4
enter number 2: 6
4 + 6 = 10

In [23]:
num1 = int(input('enter number 1: '))
num2 = int(input('enter number 2: '))
a = '{0} + {1} = {2}'
b = a.format(num1,num2,result)
print(b)

enter number 1: 3
enter number 2: 7
3 + 7 = 10

# 3.Upper Lower case

In [24]:
name = 'ahmed ali'
name.title()

'Ahmed Ali'

In [25]:
name.lower()

'ahmed ali'

In [26]:
name.upper()

'AHMED ALI'


# 4.abs()

# To get absolute value

In [27]:
abs(-9)

9

In [28]:
abs(9)

9

In [29]:
abs(0)

0

# 5.bin() To convert integer to binary

In [30]:
bin(0)

'0b0'

In [31]:
bin(3)

'0b11'

In [35]:
bin(-4)

'-0b100'