# Python Assignment 
Timing 12:15 to 3:15

Ahmed Ali

In [14]:
a = 'Ahmed Ali'
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [17]:
a.capitalize()  #Only capitalize first character of string

'Ahmed ali'

In [18]:
a.casefold()    #lower all character of string

'ahmed ali'

In [19]:
a.center(15)    #taking space on first and end of string character and print name in the middle

'   Ahmed Ali   '

In [20]:
print(a.count('a'))     #print total number of a character that how many times it is in a string
print(a.count('h'))

0
1

In [22]:
a.encode()     #encode the string

b'Ahmed Ali'

In [24]:
a = 'ahmed ali'
a.endswith('i')       #compare with end character of string and return true or false

True

In [27]:
a = 'Ahmed Ali'
a.endswith('a')       #compare with end character of string and return true or false

False

In [43]:
b='Hello\tworld'
b.expandtabs(5)          #putting space

'Hello     world'

In [52]:
a = 'Ahmed Ali'
a.find('i')        #return the index of the character in a string

8

In [53]:
name = 'Ahmed Ali'
fname = 'Liaqat Ali'
program = 'PIAIC'
s=100

card ="""
Bahria University Islamabad
name: {}
Father name: {}
Program: {}
score: {}         
"""      
print(card.format(name,fname,program,s))

Bahria University Islamabad
name: Ahmed Ali
Father name: Liaqat Ali
Program: PIAIC
score: 100

In [56]:
name = {'a':'Ahmed','b':'Ali'}
'{a} {b}'.format_map(name)

'Ahmed Ali'

In [57]:
a.index('m')        # find the index number in a string

2

In [59]:
a.isalnum()         #return True if string is alphanumeic or not e.g character and number

False

In [64]:
b='b4u'
b.isalnum()         #return True if string is alphanumeic or not e.g character and number

True

In [61]:
a.isalpha()         #return true if string have all alphabets without spaces otherwise false

False

In [62]:
a.isdecimal()       #return True if string have any decimal number

False

In [66]:
a.isdigit()        #return True if string have any digit

False

In [68]:
a.isidentifier()       #return True if string have any identifier like _ or no spaces

True

In [69]:
a.islower()         #return True if string have all alphabets in lower case

False

In [72]:
a.isnumeric()          #retrun True if string have all characters numeric

False

In [73]:
a.isprintable()        #return True if string is printable

True

In [81]:
print(a.isspace())            #return True if string is all white spaces
b='    '
print(b.isspace())

False
True

In [84]:
a='Ahmed Ali'
print(a.istitle())             #retrun True if each word in string starts with capital letter
b='Hello world'
print(b.istitle())

True
False

In [86]:
a.isupper()               #return True if all characters are in capital letters

False

In [95]:
name={'hello','world'}
print('   '.join(name))

world   hello

In [96]:
a='hello'
b=a.ljust(10)    # add 10 spaces from left justified
print(b,'world')

hello      world

In [98]:
a='Hello World'
a.lower()               # return string in lower case

'hello world'

In [100]:
a.lstrip()          #removes spaces from left

'Hello World'

In [106]:
dict= {"a": "123", "b": "456", "c": "789"}
my_string = "xyz"  #returns a translation table with a 1-to-1 mapping of a Unicode ordinal to its translation/replacement.
print(my_string.maketrans(dict))

{97: '123', 98: '456', 99: '789'}

In [114]:
a='hello world'
a.partition('abc')  # it returns a tuple

('hello world', '', '')

In [115]:
a='hello world'
a.replace('hello','hi')  #changes old to new word

'hi world'

In [120]:
a='hi world'
a.rfind('l')

6

In [122]:
a.rindex('w') #return index

3

In [124]:
a.rjust(15)   # justified version of string adds spaces on left and string goes to right

'       hi world'

In [127]:
a.rpartition('abc')  #returns a tuple on right

('', '', 'hi world')

In [129]:
a.rsplit() #returns in list

['hi', 'world']

In [136]:
a='hello world     '
a.rstrip()   #removes the end string spaces

'hello world'

In [137]:
a.split()  #returns in list and split the words

['hello', 'world']

In [140]:
a='hello world'
a.splitlines()  #returns in a list and dont split the words

['hello world']

In [146]:
a.startswith('h')   #returns true or false by matching

True

In [150]:
a='    hello world    '
a.strip()   #removes spaces from start and end

'hello world'

In [153]:
a='hello world'
a.swapcase()   # turns small to capital and capital to small

'HELLO WORLD'

In [155]:
a.title()   #turns first alphabet of each word to capital

'Hello World'

In [165]:
a='hello world'
print(a.zfill(14))   #add zeros after the total character of string which includes spaces

000hello world

# 20 oprand with different oprators

In [186]:
2 + 3 - 5 * 9 / 2 + (7 * 4) + 3 - (8 ^ 3) + (4 ** 3) / 5 + 4 - 3 * 2 - 4 + 9 * 9 / 7 + 3 + 8

31.871428571428574